h1 {
  text-align: center;
}

.jumbotron {
  height: auto;
}
.jumbotron p {
  margin-top: 30px;
}


.jumbotron img {
  height: 300px;
  width: auto;
  margin: 20px;
  border-radius: 10px;
  float: inherit;
}

footer {
  font-style: italic;
  font-size: 10px;
  text-align: center;
  margin-top: 100px;
}
.panel-body {
  background-color: #eee;
  border: solid 2px black;
  border-radius: 5px;
  height: 220px;
}

.panel-body h2 {
  margin-bottom: 20px;
}

.Q1, .Q2, .Q3, .Q4, .Q5 {
  display: none;
}

.start {
  text-align: center;
}
.Italian{
  display: none;
}

.Italian img{
  float: left;
  height: 200px;
  margin-right: 20px;
  margin-bottom: 20px;
}

.Asian {
  display: none;
}

.Asian img{
  float: left;
  height: 200px;
  margin-right: 20px;
  margin-bottom: 20px;
}

.American {
  display: none;
}

.American img{
  float: left;
  height: 200px;
  margin-right: 20px;
  margin-bottom: 20px;
}

.Other {
  display: none;
}

.Other img{
  float: left;
  height: 200px;
  margin-right: 20px;
  margin-bottom: 20px;
}
